<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/lib/browser.js"></script>
    <script src="/javascripts/lib/react.js"></script>
    <script src="/javascripts/lib/react-dom.js"></script>
    <script type="text/babel" src="/javascripts/main.js"></script>
  </head>
  <body>
    <div id="modal"></div>
    <div id="main">
      <button id="addTaskButton">Add Task</button>
    </div>
    {{{body}}}
  </body>
</html>
